body {
    background:url(../Images/backgroundImage.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Roboto';
}

.header-area {
    width: 100%;
    background-color: #ffcccc;
    height: 80px;
    border: none;
    font-size: 25pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    padding-top:20px;
    font-family: 'Roboto';
}

.logout-button {
  background: #2b303b;
  color:#ffcccc;
  font-size: 12pt;
  width: 100px;
  height: 40px;
  z-index: 1px;
  border: none;
  float: right;
  margin-right:10px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Roboto';
}

.add-button {
    background: #2b303b;
    color:#ffcccc;
    float: right;
    margin-right:10px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
}

.item-table-row {
    width: 100%;
    margin: 10px;
    border: none;
    padding : 8%;
    background: #2b303b;
    opacity: 0.5;
}

.item-table-column {
    width: 100%;
    padding-top : 10px;
    padding-bottom : 10px;
}
.remove-button {
    float: right;
    margin-right: 50px;
}

.listItem{
    color: #ffcccc;
    font-size: 14pt;
    padding-left: 50%; 
    font-family: 'Roboto';
}

.listItem:hover {
    color: #ffcccc;
}

.item-table-row:hover{
    background: black;
    /* color: #2b303b; */
    opacity: 0.5;
}

/*------------------------------------------DROP DOWN--------------------------------------------*/
.dropdown {
    position: absolute;
    left: 49%;
    display: inline-block;
    z-index:1;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  











