<!DOCTYPE html>
<html ng-app="app" ng-controller="loginController">
<head>
    <link rel="stylesheet" href="Login/login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9//angular-resource.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="Login/login.controller.js"></script>
    <script src="List/list.controller.js"></script>
    <title> ToDoList </title>
</head>
<body >
<form>
    <table class="login-div" >
        <tr class="table-row">
            <td class="table-column">
                <div ng-show="isInvalidLogin" class="error-div input-area">Username or password is incorrect</div>
            </td>
        </tr>
        <tr class="table-row">
            <td class="table-column">
                <input type="text" placeholder="Username..." class="input-area" ng-model="username" required>
            </td>
        </tr>
        <tr class="table-row">
            <td class="table-column">
                <input type="password" placeholder="Password..." class="input-area" ng-model="password" required>
            </td>
        </tr>
        <tr class="table-row">
            <td class="table-column">
                <button ng-click= "validateUser()" class="login-button input-area">LOGIN</button>
            </td>
        </tr>
        <tr class="table-row">
            <td class="table-column">
                <a href="" class="signup-area">Sign Up</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>