<!DOCTYPE html>
<html>
    <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="splitAmount.css">
        <!-- <link rel="stylesheet" href="../List/list.css"> -->
        <script src="splitAmount.js"></script>
        <title> Split Amount </title>
    </head>
    <body ng-app="listApp">
            <header>
                    <h1 class="header-area">SPLIT BILLS
                            <button class="logout-button" id="logout-button">HOME</button>
                            <button class="logout-button" id="logout-button">VIEW BALANCE</button>
                     </h1>
                </header>
        <form>
                <table class="login-div" ng-controller="splitAmountController">
                        <tr class="table-row">
                                <td class="table-column">
                                    <div class="error-div input-area">GROUP 1</div>
                                </td>
                            </tr>
                        <tr class="table-row">
                            <td class="table-column">
                                <input type="text" placeholder="...What did you purchase" class="input-area" ng-model="itemNAme" required>
                            </td>
                        </tr>
                        <tr class="table-row">
                                <td class="table-column">
                                    <input type="text" placeholder="...How much did it cost" class="input-area" ng-model="itemPrice" required>
                                </td>
                            </tr>
                        <tr class="table-row">
                                <td class="table-column">
                                    <button ng-click= "validateUser()" class="login-button input-area">Add Amount</button>
                                </td>
                            </tr>
                    </table>
        </form>
    </body>
</html>