<!DOCTYPE html>
<html  ng-app="app" ng-controller="ItemsController" >
<div ng-view></div>

    <head>
        <link rel="stylesheet" href="list.css">
        <link rel="stylesheet" href="../CreateItem/createItem.css">
        <link rel="stylesheet" href="../Login/login.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <title>List Page</title>
    </head>
    <body  >
            <!-- <body  ng-app="" onload="f()"> -->
        <header>
            <h1 class="header-area">CHECK IT
                    <button class="logout-button" id="logout-button">HOME</button>
                    <button id="myBtn" class="add-button btn btn-success btn-add" type="button" ng-click="setItemNameEmpty()">+</button>
            </h1>
        </header>
        <!-- MODAL -->
        <!-- The Modal -->
        <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
          </div>
          <div class="modal-body">
            <table>
                <tr class="table-row">
                    <td class="table-column">
                            <input type="input" placeholder="...Item" class="modal-input"   ng-model="newItemName" required="required">
                    </td>
                </tr>
                <!-- <tr class="table-row">
                        <td class="table-column">
                            <input type="input" placeholder="...Assign To" class="modal-input"  ng-show="isUpdateModal" ng-click="updateItem()" required="required">
                        </td>
                    </tr> -->
                <tr class="table-row">
                    <td class="table-column">
                        <input type="input" placeholder="...How much did you buy?" class="modal-input"  ng-show="isUpdateModal" ng-click="updateItem()" required="required">
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        <input type="input" placeholder="...For how many people did you buy?" class="modal-input"  ng-show="isUpdateModal" ng-click="updateItem()" required="required">
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        <input type="input" placeholder="...Buying date" class="modal-input-disabled"  ng-show="isUpdateModal" ng-click="updateItem()" required="required" ng-disabled="true">
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-column">
                        <input type="input" placeholder="...End Date" class="modal-input-disabled"  ng-show="isUpdateModal" ng-click="updateItem()" required="required" ng-disabled="true">
                    </td>
                </tr>
            </table>
          
          </div>
          <div class="modal-footer">
                <input type="submit" value="SAVE" class="modal-button" ng-click="addItem()" id="save-button" ng-show="!isUpdateModal">
                <input type="submit" value="BOUGHT" class="modal-button" id="update-button" ng-show="isUpdateModal" ng-click="updateItem()"></button>
                <input type="reset" value="CANCEL" class="modal-button">
          </div>
        </div>
    </form>
      </div> 
       
        <!-- MODAL  END -->


                <!-- MODAL -->
        <!-- The Modal -->
        <div id="myModal2" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <span class="close">&times;</span>
                  </div>
                  <div class="modal-body">
                    <table>
                        <tr class="table-row">
                            <td class="table-column">
                                    MARK ITEM
                            </td>
                        </tr>
                        <tr class="table-row">
                            <td class="table-column">
                                ASSIGN ITEM
                            </td>
                    </table>
                  
                  </div>
                </div>
              </div>
               
                <!-- MODAL  END -->



        <table class="item-table">
            
            <tr class="item-table-row" ng-repeat="item in items" id="{{item.id}}">
                <td class="item-table-column">
                    <div class="dropdown">
                        <a href="#" id="itemLink" ng-click="openItem($index)" class="listItem">{{item.title}}</a>
                        <div class="dropdown-content">
                                <a href="#">Mark Item</a>
                                <a href="#">Assign Item</a>
                              </div>
                            </div>
                </td>
                <td class="item-table-column">
                        <button id="myRemoveBtn" class="delete-item remove-button btn btn-danger btn-remove" type="button" ng-click="deleteItem($index)")>-</button>
                </td>
            </tr>
        </table>
    </body>
</html>