body {
    background:url(../Images/backgroundImage.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Roboto';
}

.header-area {
    width: 100%;
    background-color: #ffcccc;
    height: 80px;
    border: none;
    font-size: 25pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    padding-top:20px;
    font-family: 'Roboto';
}

.logout-button {
  background: #2b303b;
  color:#ffcccc;
  font-size: 12pt;
  width: 100px;
  height: 40px;
  z-index: 1px;
  border: none;
  float: right;
  margin-right:10px;
  border-radius: 3px;
  text-align: center;
  font-family: 'Roboto';
}

.add-button {
    background: #2b303b;
    color:#ffcccc;
    float: right;
    margin-right:10px;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
}

.item-table-row {
    width: 100%;
    margin: 10px;
    border: none;
    padding : 8%;
    background: #2b303b;
    opacity: 0.5;
}

.item-table-column {
    width: 100%;
    padding-top : 10px;
    padding-bottom : 10px;
}
.remove-button {
    float: right;
    margin-right: 50px;
}

.listItem{
    color: #ffcccc;
    font-size: 14pt;
    padding-left: 50%; 
    font-family: 'Roboto';
}

.listItem:hover {
    color: #ffcccc;
}

.item-table-row:hover{
    background: black;
    /* color: #2b303b; */
    opacity: 0.5;
}

.listTable_div{
    width: 50%;
    height: 48%;
    position: absolute;
    top: 25%;
    left: 27%;
    border-style: solid;
    border-color: #ffcccc;
    border-radius: 5px;
}
















